WHATSAPP_NUMBER=your_whatsapp_number_only_digits
PHONE_NUMBER="(12) 0000-0000"
EMAIL=contato@seudominio.com.br
INSTAGRAM_URL=https://instagram.com/seu.instagram
FACEBOOK_URL=https://facebook.com/seu.facebook
GOOGLE_MAPS_URL=https://www.google.com/maps/place/...
